.press-start-2p-regular {
    font-family: "press start 2p", system-ui;
    font-weight: 400;
    font-style: normal;
}

.menu-container {
    display: flex;
    position: relative;

    & .top-title {
        align-self: center;
    }
}

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    margin: 10px;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.3s;
}

#menu-toggle {
    display: none;
}

.menu {
    display: none;
    flex-direction: column;
    background-color: #f9f9f9;
    position: absolute;
    top: 40px;
    right: 10px;
    width: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}


.menu a {
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

.menu a:last-child {
    border-bottom: none;
}

#menu-toggle:checked ~ .menu {
    display: flex;
}


#page-container {
    width: 100%;
    height: 100vh;
    background: #34efdf;
    display: flex;
}

body {
    font-family: "Press Start 2P", system-ui
}

#locationsDropdown {
    font-family: "Arial Black", serif;
    font-size: larger;
    font-weight: normal;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.split {
    height: 70%;
    width: 50%;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

#right {
    text-align: center;
}

.dd_container {
    display: grid;
    width: fit-content;
    align-items: center;
    background: white;
    padding: 20px 15px;
    border-radius: 12px;
    margin-left: 10%;
    margin-top: 25%;
    z-index: 2;

    & button {
        border-radius: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: fit-content;
        margin: auto;
        font-family: inherit;
        font-size: larger;
        background-color: mediumturquoise;
    }

}

.text-container {
    display: grid;
    width: fit-content;
    align-items: center;
    background: white;
    padding: 20px 15px;
    border-radius: 12px;
    margin-left: 10%;
    margin-top: 25%;
    z-index: 2;
}


