/* Split the screen in half */

#page-container {
        width: 100%;
        height: 100vh;
        background: white;
        display: grid;
    /*Check if codde below is needed*/
        grid-template-rows: 80px 600px 80px;
        grid-template-columns: 0.5fr 1fr;
    }

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}


body {
        font-family: Georgia, serif;
    }

#locationsDropdown {
    font-family: Georgia, serif;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
   /* background-color: #D6D1B1;*/
    background-image: url('assets/abstract-6353627_1280.png');
}

.dd_container {
    border: 3px solid #8AC4FF;
    background-color: white;
    border-radius: 8px;
    padding: 1em;
    width: max-content;
    max-width: 75%;
    height: 200px;
    display: grid;
    align-items: center;
    justify-content: center;
}

/* Control the right side */
.right {
    right: 0;
    background-color: #8AC4FF;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: transparent;
    position: relative;
    z-index: 9000;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: deeppink;
    color: black;
}

@media screen and (max-width: 600px) {
    .navbar a {
        float: none;
        display: none;
        text-align: left;
    }
}
.modal-container {
   position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.modal {
    width: 500px;
    height: 400px;
    position: relative;
    z-index: 11000;
}